@page
@model EcoEnergyPartTwo.Pages.Simulations.SimulationModel
@{
    ViewData["Title"] = "Simulations";
}

<div id="SimulationList">
    <h2>Llistat de Simulacions</h2>
    @if (Model.Simulations.Count == 0 || Model.Simulations == null)
    {
        <p>No hi ha cap simulació emmagatzemada.</p>
    }
    else
    {
        <p><strong>Total de simulacions:</strong> @Model.Simulations.Count</p>

        <table class="table">
            <thead>
                <tr>
                    <th class="table-operations">Esborrar / Editar</th>
                    <th class="id-column">Id</th>
                    <th>Hores de sol / Cabal d'aigua / Velocitat del vent</th>
                    <th>Tipus de simulació</th>
                    <th>Data</th>
                    <th>Rati</th>
                    <th>Energia generada</th>
                    <th>Cost kWh</th>
                    <th>Preu kWh</th>
                    <th>Cost total del kWh</th>
                    <th>Preu total del kWh</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Simulations)
                {
                    <tr>
                        <td class="table-operations">
                            <form method="post" asp-page-handler="Delete">
                                <input type="hidden" name="id" value="@item.Id" />
                                <button type="submit">❌</button>
                            </form>
                            <button onclick="window.location.href='/Simulations/UpdateSimulation?id=@item.Id'" class="pad-top">⚙️</button>
                        </td>
                        <td class="id-column">@item.Id</td>
                        <td>@item.SpecificField</td>
                        <td>@item.SimulationType</td>
                        <td>@item.SimulationDate</td>
                        <td>@item.Rati</td>
                        <td>@item.GeneratedEnergy</td>
                        <td>@item.CostkWh</td>
                        <td>@item.PricekWh</td>
                        <td>@item.TotalCostkWh</td>
                        <td>@item.TotalPricekWh</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    <button onclick="window.location.href='/Simulations/AddSimulation'" class="ButtonLeft">Afegir Simulació</button>
</div>