@page
@model EcoEnergyPartTwo.Pages.WaterCon.WaterConModel
@{
    ViewData["Title"] = "WaterCon";
}

<div id="WaterConList">
    <h2>Llistat de consums d'aigua</h2>
    @if (Model.waterConsumptions.Count == 0)
    {
        <p>No hi ha cap simulació emmagatzemada.</p>
    }
    <p><strong>Total de simulacions:</strong> @Model.waterConsumptions.Count</p>
    <button onclick="window.location.href='/WaterCon/AddWaterCon'" class="ButtonLeft" id="WaterConListAddButton">Afegir Consum</button>
    <table class="table">
        <thead>
            <tr>
                <th class="table-operations">Esborrar / Editar</th>
                <th class="id-column">Id</th>
                <th>Any</th>
                <th>Codi de la comarca</th>
                <th>Comarca</th>
                <th>Municipi</th>
                <th>Xarxa domèstica</th>
                <th>Altres activitats</th>
                <th>Total</th>
                <th>Consum domèstic per càpita</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.waterConsumptions)
            {
                <tr>
                    <td class="table-operations">
                        <form method="post" asp-page-handler="Delete">
                            <input type="hidden" name="id" value="@item.Id" />
                            <button type="submit">❌</button>
                        </form>
                        <button onclick="window.location.href='/WaterCon/UpdateWaterCon?id=@item.Id'" class="pad-top">⚙️</button>
                    </td>
                    <td>@item.Id</td>
                    <td>@item.Year</td>
                    <td>@item.CodeComarca</td>
                    <td>@item.Comarca</td>
                    <td>@item.Pobl</td>
                    <td>@item.DomXarxa</td>
                    <td>@item.AltresActivitats</td>
                    <td>@item.Total</td>
                    <td>@item.ConsumDom</td>
                </tr>
            }
        </tbody>
    </table>
</div>